div.galeriaPaginado {
    margin:20px auto 10px auto;
    text-align:center;
    background: transparent url(../../../icons/bg_tablon_optsTablon.png)  0px 0px repeat-x;
    -moz-border-radius:15px;

}

div.galeriaPaginado img {
    padding: 5px;	
}

table.tablon {
	table-layout: fixed;
	background-color: white;
	width: 100%;
	border-collapse: collapse;
}

table.tablon tr.tablon_tr_header {
	background: #7a7a7a url('../../../icons/bg_tablon_th.png') top left repeat-x;
	border: 1px solid #333;
}

table.tablon tr.par {
	background:#eee;
}
table.tablon tr.impar {
	background:#fff;
}

table.tablon tr.totales {
	background:#a0b0c9;
	color:#fff;
}


table.tablon tr.par:hover,table.tablon tr.impar:hover {
	background:#d0e1fb;
}


table.tablon tr.over td {
	background: #E1DCF4;
}

table.tablon tr.selected td {
	background: #FFFFB9;
	color: Black;
}

table.tablon tbody td {
	padding: 4px;
	text-align: left;
	border-bottom: 1px solid #D4D0C8;
	/*border-left: 1px solid #D4D0C8;*/
	vertical-align:top;
	overflow: hidden;
}

table.tablon th {
	padding: 4px;
	/*background-color: <?php echo $color_th_tablon; ?>;
	color: <?php echo $color_titulos_principales; ?>;*/
	color:#fff;
	text-align: left;
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
}

table.tablon th a,table.tablon th a.active,table.tablon th a.hover {
	color: <?php echo $color_titulos_principales;?>;
}

table.tablon td.cabecera {
	padding: 4px;
	background-color: #333;
	color:#fff;
	padding:10px;
	border-bottom: 1px solid #CBC7B8;
	border-left: 1px solid #D4D0C8;
	text-align: right;
	font-weight:normal;
	vertical-align:top;
	width: 15%;
	overflow: hidden;
}

table.tablon td.cabecera_nivel1 {
    padding: 4px;
    font-size: 1.4em;
    background:transparent url(../../../icons/bg_menu_selected2.png) top left repeat-x;
    color:#fff;
    font-weight: bold;
}

table.tablon td.cabecera_nivel2 {
    padding: 2px;
    background:transparent url(../../../icons/bluebg_menu_selected2.png) top left repeat-x;
    font-size: 1.2em;
    color:#fff;
    font-weight: bold;
}

#tablonContainer {
	margin: 1em 0 0 0;
	padding: 0px;
}

#tablonContainer div {
	margin: 0px;
	padding: 0px;
}

a.opts {
	padding-right: 10px;
	color:#fff;
	cursor:pointer;
}
a.optsLink {
	padding-right: 10px;
	color:#fff;
	cursor:pointer;
}
a.tablon_multiedit{
	padding-right: 10px;
	color:#fff;
	cursor:pointer;
}


td.editable input {
	border: 1px solid #000;
	width: 90%;
	padding: 1px;
}

textarea {
	border: 1px solid #000;
	width: 90%;
	padding: 1px;
	line-height: 16px;
	min-height: 84px;
}

td.editable input.button, td.jtime input.button, td.mappoint input.button, td.jdateESP input.button, td.jdate input.button, td.hexcolor input.button , td.glocation input.button {
	border: 0px;
	background: url(../../../icons/document-save.png) no-repeat;
	width: 18px;
	height: 18px;
	margin-left: 1px;
	margin-top: 2px;
	margin-bottom: 0pt;
	cursor: pointer;
}
/*td.jtime input.button {
	border: 0px;
	background: url(../../../icons/document-save.png) no-repeat;
	width: 18px;
	height: 18px;
	margin-left: 1px;
	margin-top: 2px;
	margin-bottom: 0pt;
	cursor: pointer;
}

td.jdateESP input.button {
	border: 0px;
	background: url(../../../icons/document-save.png) no-repeat;
	width: 18px;
	height: 18px;
	margin-left: 1px;
	margin-top: 2px;
	margin-bottom: 0pt;
	cursor: pointer;
}

td.jdate input.button {
	border: 0px;
	background: url(../../../icons/document-save.png) no-repeat;
	width: 18px;
	height: 18px;
	margin-left: 1px;
	margin-top: 2px;
	margin-bottom: 0pt;
	cursor: pointer;
}*/

td.editable input.undo {
	background: url(../../../icons/undo.png) no-repeat;
}

img.autosaver,img.loader,.undo,.info,.cancel,img.delete {
	height: 16px;
	width: auto;
	margin-left: 5px;
	margin-top: 2px;
	cursor: pointer;
	display: none;
}

/*
div.opsSave {
	display: none;
}
*/

div.fright{
	float: right;
	width: 40%;
	max-height: 175px;
	
	overflow: auto;
}
div.contValor {
	float: left;
}

span#autosave {
	margin-left: 2px;
}

span#saveAllButton {
	margin-left: 20px;
	cursor: pointer;
}

#backButton {
	/*margin-left: 20px;*/
}

div.grippie {
	background: #eee url(../../../icons/grippie.png) no-repeat scroll center
		2px;
	border-color: #ddd;
	border-style: solid;
	border-width: 0pt 1px 1px;
	cursor: s-resize;
	height: 9px;
	overflow: hidden;
}

#tablon_edit{

}


.multiselect {
	width: 19px;
}

#optsTablon,
.optsTablon {
	list-style: none;
	margin: 5px 0;
	padding: 4px 0px;
	width: 100%;
	height: 26px;
	color:#fff;
	font-weight:bold;
	background: transparent url(../../../icons/bg_tablon_optsTablon.png)  0px 4px repeat-x;
}



#optsTablon li img.flechita,
.optsTablon li img.flechita  {
	background:<?php echo $color_fondo_inner; ?> !important;

}

#optsTablon li,
.optsTablon li {
	float:left;
	margin: 0 10px 0 0px ;
	padding: 0;
}

#optsTablon li.opts, #optsTablon li.optsTablonedit,
.optsTablon li.opts, .optsTablon li.optsTablonedit 
{
	padding: 3px 5px 2px 5px;
	vertical-align:middle;
	font-size:1.05em;
	border-right:1px solid transparent;
	border-left:1px solid transparent;
	cursor:pointer;

}
#optsTablon li.opts:hover, #optsTablon li.optsTablonedit:hover , #optsTablon li.optsTablonedit.seleced,
.optsTablon li.opts:hover, .optsTablon li.optsTablonedit:hover , .optsTablon li.optsTablonedit.seleced
{
	background: transparent url(../../../icons/bg_tablon_optsTablon_hover.png) 0 0 repeat-x;
	border-right:1px solid #CCC;
	border-left:1px solid #CCC;
}

#optsTablon li.opts.hidden,
.optsTablon li.opts.hidden
{
	float:none;
}

#hiddenMultiops{
	display:none;
float:left;
position:absolute;
list-style:none;
}

#optsTablon li.opts.hidden,
.optsTablon li.opts.hidden{
	background: transparent url(../../../icons/bg_tablon_optsTablon.png)  0px 0px repeat-x;
	height:18px;
    margin:1px;
    padding:3px 5px 9px;
 }

#optsTablon li.opts.hidden:hover,
.optsTablon li.opts.hidden:hover{
	background: transparent url(../../../icons/bg_tablon_optsTablon_hover.png) 0 0 repeat-x;
	border-right:1px solid #CCC;
	border-left:1px solid #CCC;
	}

#optsTablon li.optsMore,
.optsTablon li.optsMore
{
    cursor:pointer;
    padding:3px 0 0;
}

#optsTablon li.opts.backButton, 
.optsTablon li.opts.backButton 
{
    float:right;
}

#optsTablon li.sep,
.optsTablon li.sep {
	background-image:url("../../../icons/tablon_opts_separador.png");
	background-position:top center;
	background-repeat:no-repeat;
	background-color:<?php echo $color_fondo_inner; ?>;
	width:25px;
	height:30px;
}
#optsTablon li.optsEnd,
.optsTablon li.optsEnd {
	background: <?php echo $color_fondo_inner; ?> url(../../../icons/tablon_opts_fin.png) top right no-repeat;
	width:10px;
	height:30px;
	float:right;
	padding:3px 0 2px;
	margin:0px;
}
#optsTablon li.optsIni,
.optsTablon li.optsIni {
    background:<?php echo $color_fondo_inner; ?> url(../../../icons/tablon_opts_separador.png) no-repeat scroll -34px top;
    height:30px;
    margin:0;
    padding:3px 0 2px;
    width:16px;
}

#optsTablon li img,
.optsTablon li img {
    margin: 0 4px 0 0;
	vertical-align:middle;
}




#optsTablonnew {
	list-style: none;
	margin: 5px 0;
	padding: 0px 0px;
	padding: 0px;
	width: 100%;
	min-height: 30px;
	color:#fff;
	font-weight:bold;
	background: transparent url(../../../icons/bg_tablon_optsTablonnew.png)  0px 0px repeat;
	float:right;
}



#optsTablonnew li img.flechita {
	background:<?php echo $color_fondo_inner; ?> !important;
}



#optsTablonnew li.left {
	float:left;
	margin: 0;
	padding: 0;
}
#optsTablonnew li.right {
	float:right;
	margin: 0 ;
	padding: 0;
}


#optsTablonnew li.opts, #optsTablonnew li.optsTablonedit {
	/*padding: 3px 5px 2px 5px;*/
	vertical-align:middle;
	font-size:1.05em;
	border-right:1px solid transparent;
	border-left:1px solid transparent;
	cursor:pointer;

}

#optsTablonnew li.opts{
	background: transparent url(../../../icons/bg_tablon_optsTablon.png)  0px 0px repeat-x;
	/*height:26px;
	padding: 7px 5px 6px 5px;*/
	height:18px;
	padding:3px 5px 9px;
margin:0 5px 4px 0;
padding:3px 5px 9px;

}

#optsTablonnew li.opts:hover, #optsTablonnew li.optsTablonedit:hover , #optsTablonnew li.optsTablonedit.seleced {
	background: transparent url(../../../icons/bg_tablon_optsTablon_hover.png) 0 0 repeat-x;
	border-right:1px solid #CCC;
	border-left:1px solid #CCC;
}


#optsTablonnew li.sep {
background:<?php echo $color_fondo_inner; ?> url(../../../icons/tablon_opts_separador.png) no-repeat scroll center top;
height:30px;
width:25px;
}

#optsTablonnew li.sepEnd {
background:<?php echo $color_fondo_inner; ?> url(../../../icons/tablon_opts_separador.png) no-repeat scroll -1px top;
height:30px;
width:25px;
}

#optsTablonnew li img {
	margin: 0 4px 0 0;
	vertical-align:middle;
}

.tablonClone {
	display: none;
}

form#hiddenFields, form#hiddenFieldsUp {
	display: none;
}

.clear {
	clear: right;
}

div.contenedorPaginado {
	margin:20px auto 10px auto;
	padding:0;
	text-align:center;
	background: transparent url(../../../icons/bg_tablon_optsTablon.png)  0px 0px repeat-x;
	-moz-border-radius:15px;
	border:1px solid #333;

}
ul.paginado {
	margin:0;
	padding:0;
}

ul.paginado li {
	list-style: none;
	font-size:1.5em;
	margin: 0 3px;
	padding:0;
	display:inline;
}

ul.paginado li.currentPage {
	color:#fff;
	font-size:2em;
	font-weight:bold;
	
}
ul.paginado a {
	color:#ccc;
}
ul.menuout {
	display: inline;
	width: 200px;
}

ul.menuout li {
	list-style: none;
	margin: 0 10px;
}

#tablonsearchnew{
		display:none;
        background:#fff;
        border:5px solid <?php echo $color_principal; ?>;
        padding:10px;
		-moz-border-radius:15px;
		margin:0 auto 20px 0;
		padding:10px;
		width:80%;
}

table#tablonsearchnewtable.tablon th.colspaned {
	padding:3px;
}

#tablonsearchnewtable img.helpsearch {
	margin-left:4px;
}

#tablonsearchnewtable {
       /* table-layout: fixed;
        background-color: white;*/
        background:#fff;
        margin:0 0 20px 0;
        padding:10px;
        /*display:none;*/
        width:700px;
		border-collapse:collapse;
		margin:0px auto 20px auto;
		width:100%;
}
#__hide_filtrado{
display:block;
float:left;
height:19px;
margin:0 !important;
padding:0 !important;
text-align:center !important;
width:100%;

}

#tablonsearchnewtable input[type=text]{
border:1px solid #999999;
font-size:1.1em;
height:15px;
padding:5px;
width:250px;

}
#tablonsearchnewtable select{
border:1px solid #999999;
font-size:1.1em;
height:27px;
min-width:262px;
padding:0 0 0 2px;
width:262px;
}
table#tablonsearchnewtable.tablon td {
	vertical-align:middle;
}

#tablonsearchnewtable button {
outline:none;
outline-width:0px;
-moz-border-radius-bottomleft:10px;
-moz-border-radius-bottomright:10px;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright:10px;
background:transparent url(../../../icons/bg_tablon_optsTablon.png) repeat-x scroll 0 0;
border:1px solid #555555;
color:#FFFFFF;
cursor:pointer;
font-size:1.05em;
height:30px;
margin:0 5px 4px 0;
padding:3px 5px 9px;
vertical-align:middle;
}
#tablonsearchnewtable p.nopadding{
margin:0;
padding:0;
}
#tablonsearchnewtable button:hover{
	background: transparent url(../../../icons/bg_tablon_optsTablon_hover.png) 0 0 repeat-x;
}


#tablonsearch {
       /* table-layout: fixed;
        background-color: white;*/
        background:#fff;
        border:5px solid <?php echo $color_principal; ?>;
        margin:0 0 20px 0;
        padding:10px;
        display:none;
        width:700px;
		border-collapse:collapse;
		-moz-border-radius:15px;
		margin:0px auto 20px auto;
		width:80%;
}

#tablonsearch tr {width:100%;}
#tablonsearch tr td.box{
	        border:1px solid <?php echo $color_principal; ?>;
	        width:50%;
}

#tablonsearch tr td.colspaned{
	        width:100%;
	        border:1px solid <?php echo $color_principal; ?>;
}
#tablonsearch tr td.cabecera{
	        width:50%;
	        border:1px solid <?php echo $color_principal; ?>;
}


/*
#tablonsearch tr {
	        width: 100%;
}
#tablonsearch td {
        padding: 2px;
        font-weight: normal;
        overflow: hidden;
        background-color: #FCFDFD;
        border-bottom:1px solid #eee;
}
#tablonsearch td.cabecera {
        padding: 2px;
        text-align: left;
        background-color: #333;
	color:#fff;
	text-align:right;
        font-weight: normal;
        width: 40%;
        overflow: hidden;
	border:0px;
}

#tablonsearch p {
        margin: auto;
        text-align: center;
}*/

.actionOpenClose {
	margin:0px 0 10px 0 !important;
	text-align:left !important;
}

input {
		margin:auto;
		  width:80%;
}

input.inputpaginado {
	width: 50px;
}

input.botonpaginado {
	width: 30px;
}

/**AUTOCOMPLETE**/


.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 999999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 10px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}
/**FINAUTOCOMPLETE*/


div#mytimepicker {
	-moz-border-radius: .3em;
	padding: 2px;
	font-size: 1.25em;
	background-color: #4682B4;
	color: white;
	border: 1px solid #306B9D;
	z-index:10000;
}

div#mytimepicker span {
	padding: 0 4px;
	margin: 0;
	cursor: crosshair;
	color: white;
}

div#mytimepicker span:hover {
	padding: 0 3px;
	background-color: #6D9DC6;
	border: 1px solid #306B9D;
	-moz-border-radius: .2em;
}

div#timepicker {
	/*padding: 2px;*/
	border: 1px solid #0B1423;
	background-color: #B1C3CA;
	text-align: center;
	font-size: 1.2em;
	font-family: 'Trebuchet MS', Verdana, Tahoma, Helvetica, sans-serif;
	border-bottom: 1px solid #517080;
	border-right: 1px solid #517080;
	border-left: 1px solid #C5CFD6;
	border-top: 1px solid #C5CFD6;
	width:90px;
}


div#mytimepicker .wrapper{
float:left;
height:24px;
}
div#mytimepicker span {
color:#192C36;
float:left;
padding:0 2px;
}

div#mytimepicker span:hover {
	padding: 0 1px;
	background-color: #D7E0E4;
	border-top: 1px solid #698DA0;
	border-left: 1px solid #698DA0;
	border-right: 1px solid #C5CFD6;
	border-bottom: 1px solid #C5CFD6;
}

div#mytimepicker span.mas, div#mytimepicker span.menos {
clear:left;
cursor:default;
float:left;
height:10px;
margin:0;
padding:0 4px;
position:relative;
width:5px;
}


div#mytimepicker span.mas{ background: url('./888888_7x7_arrow_up.gif') no-repeat scroll 3px 3px;}


div#mytimepicker span.menos{ background: url('./888888_7x7_arrow_down.gif') no-repeat scroll 3px 3px;}
.gorde{
	margin:2px 2px;
	border-top: 1px solid #698DA0;
	border-left: 1px solid #698DA0;
	border-right: 1px solid #C5CFD6;
	border-bottom: 1px solid #C5CFD6;
	cursor:pointer;
}
.gorde:hover{
	margin:2px 1px;
	border-top: 2px solid #698DA0;
	border-left: 2px solid #698DA0;
	border-right: 2px solid #C5CFD6;
	border-bottom: 2px solid #C5CFD6;
}

div.readerbox{
	width:1000px;
	max-height:500px;
	overflow:auto;
}

div.reader{
background:#F9F4F4 none repeat scroll 0 0;
border:1px solid #DEC9C9;
margin:10px 0 0 10px;
max-height:400px;
overflow:auto;
padding:10px;
width:920px;
}

table.tablon tr.tmpOver{
	background:#d0e1fb none repeat scroll 0 0;
}
img.openView{
	padding: 0 10px 0 0;
}



#trans_container{
	border:1px solid black;
	min-height: 50px;
	width: 23%;
	background:#d6d6d6;
	padding:2px;
}
#trans_result{
background:#FFFFFF none repeat scroll 0 0;
margin:0;
min-height:25px;
padding:1px 5px;
}
#trans_switcher{

}

#trans_container.absolute_container{
border:2px solid black;
min-height:50px;
position:fixed;
width:19%;
}

.translatebutton{
	background:transparent url(../../../icons/go-top.png) no-repeat scroll 0 0;
	border:0 none;
	cursor:pointer;
	height:18px;
	margin-bottom:0;
	margin-left:5px;
	margin-top:2px;
	width:18px;
}

.calendarOptionsBox{

}


.calendarOptionsBox p{
	text-align:right;
}
.calendarOptionsBox select{
	border:1px solid #BBBBBB;
	width:160px;
	margin:0 5px;
}

.calendarOptionsBox input{
	border:1px solid #BBBBBB;
	width:130px;
}


img.bigThumb{
	max-width:700px;
	max-height:80%;
}

.contValor {
	

margin:2px 0 2px 10px !important;
}

.contValor input[type=text], .contValor input[type=password]{
border:1px solid #999999;
font-size:1.1em;
height:20px;
padding-top:5px;
padding-left:5px;
/*
width:250px;
*/
}
.contValor select{
border:1px solid #999999;
font-size:1.1em;
height:27px;
min-width:262px;
padding:0 0 0 2px;
width:262px;
}

.contValor textarea {
	/*border: 1px solid #000;
	width: 90%;
	padding: 1px;
	line-height: 16px;
	min-height: 84px;*/
	border:1px solid #999999;
	padding-left:5px;
	line-height: 18px;
	/*
	width: 250px;
	*/
	height: auto;
	/*min-width: auto;*/
	font-size:1.1em;
}


.deleteRow, .duplicateEntity {
	cursor:pointer;
	padding-right: 10px;
	}
tr.slidedTR{}
tr.slidedTR td.tablon_edit .contValor{
	height:60px;
	overflow:hidden;
	-moz-opacity:0.5;
}
tr.slidedTR td.tablon_edit .contValor.opened{
	height:auto;
	overflow:auto;
	-moz-opacity:1;
}
.buttonSlide{
	cursor:pointer;
	vertical-align:middle;
	margin:0;
}
.tablon_edit_options{
background:#9F9F9F url(../../../icons/bg_tablon_optsTablon.png) repeat-x scroll bottom left;

}
table.tablon td.tablon_edit_options{
	vertical-align:middle;
	padding:0 0 0 5px!important;
	margin:0 0 0 5px!important;
}
.tablon_edit_options a.opts{
	vertical-align:middle;
	margin:0 3px ;
}
.tablon_edit_options a.opts img{
		vertical-align:middle;
		margin:0 3px ;
}

.tablon_edit_options a.opts:hover{
	
}


.dosomethingFLD{
border:1px solid #999999;
padding:4px 12px;
text-align:center;
width:100%;
}
.dosomethingFLD[type=button]{ cursor:pointer;}
.dosomethingFLD[type=button]:hover{  background:#ddd;}


div.jqi .jqimessage {
	max-height:600px;
	overflow:auto;

}

#manualLimit {
	width:50px;
}
.glocationButton {
background: url(../../../icons/world.png) no-repeat;
display:block;
float:left;
height:16px;
margin:5px 0 0;
width:16px;
cursor:pointer;
}

#glocationMapBox{


}

#glocationMapBoxIn{


}

#addressBox{
clear:both;
width:585px;
}
#glocationMapBox input{
border:1px solid;
float:left;
margin:5px;
width:50%;

}

input.miniValue{
border:1px solid;
height:0;
padding:0;
width:0;
} 
input.glocationField {
    display:none;
}